<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/pic.jpg">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/javscript/app.js" defer></script>
    <title>This is the about Page</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
    <div class="box">
        <img class="portrait" src="/images/weather.jpg" alt="weather">
    </div>

    </div>
       {{>footer}}

</body>
</html>