<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/pic.jpg">

    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/app.js" defer></script>
    <title>Help-page</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
    
    <h2>Help page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, placeat et quasi voluptatem fuga nisi cupiditate dicta ipsum necessitatibus saepe.</p>
    <h2>{{titleText}}</h2>
   
    </div>
    {{>footer}}


</body>
</html>