<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" author="chinedu">
    <link rel="icon" href="/images/pic.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/javascript/app.js" defer></script>
    <title>Weather-App using Hbs</title>

</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>created by {{name}}</p>
        <form>
            <label for="form-id"></label>
            <input type="text" name="" id="form-id" placeholder="Enter an address">
            <button type="submit">Submit</button>
        </form>
        <p class="error"></p>
        <p class="error-one"></p>
        <p class="error-two"></p>
    </div>
        {{>footer}}
</body>
</html>